<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Lister_Greyferret>
            <version>0.0.1</version>
        </Lister_Greyferret>
    </modules>
    <global>
		<helpers>
        	<greyferret>
               	 <class>Lister_Greyferret_Helper</class>
            </greyferret>
		</helpers>
		<models>
           	<greyferret>
               	<class>Lister_Greyferret_Model</class>
               	<resourceModel>greyferret_resource</resourceModel>
            </greyferret>        
			<greyferret_resource>
				<class>Lister_Greyferret_Model_Resource</class>
					<entities>
						<api>
							<table>greyferret_api</table>
						</api>
					</entities>
			</greyferret_resource>
        </models>
        <resources>
            <greyferret_setup>
                <setup>
                    <module>Lister_Greyferret</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </greyferret_setup>
            <greyferret_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </greyferret_read>
            <greyferret_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </greyferret_write>
		</resources>
        <blocks>
        	<greyferret>
               	 <class>Lister_Greyferret_Block</class>
            </greyferret>
		</blocks>
		<events>
			<catalog_category_save_commit_after>
					<observers>
						<greyferret_savecategory>
							<type>singleton</type>
							<class>Lister_Greyferret_Model_Observer</class>
							<method>getCategory</method>
						</greyferret_savecategory>
				   </observers>
			</catalog_category_save_commit_after> 
			<sales_order_save_commit_after>
					<observers>
						<greyferret_saveorder>
							<type>singleton</type>
							<class>Lister_Greyferret_Model_Observer</class>
							<method>getOrder</method>
						</greyferret_saveorder>
				   </observers>
			</sales_order_save_commit_after>
			<customer_address_save_commit_after>
				<observers>
					<greyferret_customer_contact>
						<type>singleton</type>
						<class>Lister_Greyferret_Model_Observer</class>
						<method>getCustomer</method>
					</greyferret_customer_contact>
				</observers>
			</customer_address_save_commit_after>
			<adminhtml_customer_save_after>
				<observers>
					<greyferret_save_account_admin>
						<type>singleton</type>
						<class>Lister_Greyferret_Model_Observer</class>
						<method>getCustomer</method>
					</greyferret_save_account_admin>
				</observers>
			</adminhtml_customer_save_after>		
		</events>		
     </global>     
     <frontend>
        <routers>
            <greyferret>
                <use>standard</use>
                <args>
                    <module>Lister_Greyferret</module>
                    <frontName>greyferret</frontName>
                </args>
            </greyferret>
        </routers>  
    </frontend>
     <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <greyferret_options>
                                            <title>Store Greyferret Configurations</title>
                                        </greyferret_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <crontab>
        <jobs>
            <greyferret_cron>
				<schedule>
                    <cron_expr></cron_expr>
                </schedule>
                <run>					
                    <model>greyferret/api::run</model> 
                </run>
            </greyferret_cron>
        </jobs>
    </crontab>
    <default>
		<greyferret_options>
			<configurable_cron>				
				<greyferret_timeout>30</greyferret_timeout>             
				<greyferret_state>Deactivate</greyferret_state>         
			</configurable_cron>      
		</greyferret_options>		
	</default>
</config>
